builder.path=/path/to/AllediaBuilder

project.AllediaFramework.path=/path/to/AllediaFramework
project.AllediaInstaller.path=/path/to/AllediaInstaller
project.AllediaFreeDefaultFiles.path=/path/to/AllediaFreeDefaultFiles
project.OSSystem.path=/path/to/OSSystem
project.OSMyLicensesManager.path=/path/to/OSMyLicensesManager
project.com_jsvisionary.path=/path/to/com_jsvisionary
project.hasFreeVersion=0
