$$container.owl-carousel .owl-dots .owl-dot > div {
	background-color: rgba(150,150,150,0.1);
	-webkit-box-shadow:
		0 1px 1px rgba(255,255,255,0.4), 
		inset 0 1px 1px rgba(0,0,0,0.1),
		0 0 0 2px rgba(255,255,255,0.5);
	box-shadow:
		0 1px 1px rgba(255,255,255,0.4), 
		inset 0 1px 1px rgba(0,0,0,0.1),
		0 0 0 2px rgba(255,255,255,0.5);
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	border-radius: 50%;
}
$$container.owl-carousel .owl-dots .owl-dot > div:hover {
	-webkit-box-shadow:
		0 1px 1px rgba(255,255,255,0.4),
		inset 0 1px 1px rgba(0,0,0,0.1),
		0 0 0 5px rgba(255,255,255,0.5);
	box-shadow:
		0 1px 1px rgba(255,255,255,0.4),
		inset 0 1px 1px rgba(0,0,0,0.1),
		0 0 0 5px rgba(255,255,255,0.5);
}
$$container.owl-carousel .owl-dots .owl-dot.active > div:after {
	content: "";
	position: absolute;
	border-radius: 50%;
	width: 75%;
	height: 75%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background: rgba(204,204,204,0.8);
	z-index: 25;
}
$$container.owl-carousel .owl-dots .owl-dot > div > span {
	color: #666666;
}

$$container.owl-carousel .owl-nav [class*='owl-'] {
	border: 8px solid #ddd;
	border: 8px solid rgba(150,150,150,0.4);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
$$container.owl-carousel .owl-nav [class*='owl-']:hover {
	border-color: rgba(150,150,150,0.9);
}
$$container.owl-carousel .owl-nav .owl-prev {
	border-right: none;
	border-top: none;
}
$$container.owl-carousel .owl-nav .owl-next {
	border-left: none;
	border-bottom: none;
}


